# Ignore all CSV files
*.csv


test.py


# Ignore cache files
__pycache__

# Ignore the virtual environment directory venv
venv/

.vscode/

.ipynb_checkpoints/


main/map.html

# ignore log files
*.log